* {
    margin: 0;
    padding: 0;
}

html {
    height: 80%;
}

article,
details,
figcaption,
figure,
hgroup,
main,
nav,
section,
summary {
    display: block;
}

body {
    font: 12px/18px Arial Narrow, sans-serif;
    width: 100%;
    height: 100%;
    background-color: #5845a7;
}

.wrapper {
    min-height: 100%;
    height: auto !important;
    height: 100%;
}


/* Middle
-----------------------------------------------------------------------------*/

.middle {
    width: 100%;
    position: fixed;
}

.middle:after {
    display: table;
    clear: both;
    content: '';
}

/* For login.html
-----------------------------------------------------------------------------*/

.box-entering {
    width: 500px;
    height: 470px;
    background-color: #fff;
    -webkit-border-radius: 20px;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
}

.box-logo {
    width: 100px;
    height: 100px;
    margin: 20px 0px 15px 200px;
}

.box-title {
    font-size: 28px;
    line-height: 8px;
    padding: 15px 0px 30px 150px;
    color: #3b3b3b;
}

.box-input {
    -webkit-box-flex: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
    padding: 7px;
    margin: 20px 0px 7px 65px;
    width: 350px;
    background-color: #eee;
    border: 2px solid #eee;
}

input::placeholder {
    color: #999;
    font-size: 13px;
}

.box-send {
    float: center;
	padding: 6px;
    width: 170px;
    height: 40px;
    font-size: 17px;
    color: #fff;
    margin: 70px 0px 20px 165px;
    background-color: #5845a7;
    border: 2px solid #5845a7;
    -webkit-border-radius: 13px;
}

.box-send:hover {
    background-color: #372579;
    border: 2px solid #372579;
}

.box-restore-pass a {
    font-size: 15px;
    float: right;
    color: #009cf0;
    font-weight: 500;
    margin: 10px 65px 20px 0px;
}

/* For forgot_password.html
-----------------------------------------------------------------------------*/

.reset-box {
    width: 400px;
    height: 350px;
    background-color: #fff;
    -webkit-border-radius: 20px;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
}

.reset-title {
    font-size: 28px;
    line-height: 8px;
    padding: 65px 0px 30px 93px;
    color: #3b3b3b;
}

.reset-input {
    -webkit-box-flex: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
    padding: 7px;
    margin: 20px 0px 7px 50px;
    width: 270px;
    background-color: #eee;
    border: 2px solid #eee;
}

/* Для placeholder в reset-input*/

.reset-info {
    margin: 40px 0px 7px 80px;
    font-style: italic;
    font-size: 15px;
    color: #666;
}

.reset-send {
    float: center;
	padding: 6px;
    width: 140px;
    height: 40px;
    font-size: 17px;
    color: #fff;
    margin: 50px 0px 20px 125px;
    background-color: #5845a7;
    border: 2px solid #5845a7;
    -webkit-border-radius: 13px;
}

.reset-send:hover {
    background-color: #372579;
    border: 2px solid #372579;
}


/* For update_password.html
-----------------------------------------------------------------------------*/

.update-send {
    float: center;
	padding: 6px;
    width: 100px;
    height: 30px;
    font-size: 15px;
    color: #fff;
    margin: 20px 0px 20px 145px;
    background-color: #5845a7;
    border: 2px solid #5845a7;
    -webkit-border-radius: 13px;
}

.update-send:hover {
    background-color: #372579;
    border: 2px solid #372579;
}

.content {
    padding: 0 270px 0 0;
}

/* For news.html
-----------------------------------------------------------------------------*/

/*Header ------------------------------------------------------------*/

body {
	background:#6a44d0;
	font-family:"Bahnschrift";

}

/* применяем inline-block позиционирование к элементам навигации */
nav ul li {
		margin: 0px 100px 0 0;
		display:inline-block;
				}

/* стилизуем ссылки */
nav a {
		font-size:25px;
		line-height: 60px;
		text-color:#C0C0C0;
				}
}

ul {
    /* Убираю маркеры у списка*/
    list-style: none;
    /* Делаю элементы блочными. */
    display: block;
    /* Убираю отступы. */
    margin:0px;
    /* Убираю еще отступы! */
    padding:0px;
}

ul.topmenu > li {
    /* Задаю выравнивание и позиционирование. */
    float: left;
    /* Считаем координаты относительно исходного места*/
    position: relative;

}
ul.topmenu > li > a {
    /* Делаю элементы блочными: */
    display: block;
    /* Задаю белый цвет. */
    color: black;
    /* Задаю отступ 10px. */
    padding: 20px;
    /* Убираю форматирование*/
    text-decoration: none;


}
ul.topmenu > li > img:hover {
    /* Задаю цвет при наведении. */
    background-color: white;
}
ul.submenu {
    position: absolute;
    width: 300px;
    top: 37px;
    left:-70px;
    /* Делаю субменю скрытыми. */
    display: none;

}
ul.submenu > li {
    /* Блочное расположение элементов*/
    display: block;
}
ul.submenu > li > a {
    /* Делаю элементы блочными. */
    display: block;
    /* Убираю форматирование*/
    text-decoration: none;
    /* Задаю отступ. */
    padding: 10px;
    /* Задаю цвет. */
    color:  #6a44d0;
    /* Еще цвет. */
    background-color: silver;
	font-size:20px;
}
ul.submenu > li > img:hover {
    /* Цвет бэкграунда при наведении. */
    background-color: #eb9316;
    /* Задаю подчеркивание*/
    text-decoration: underline;
	img:"submenu_open.png";

}
ul.submenu > li > a:hover {
    /* Цвет бэкграунда при наведении. */
    background-color:  #c8c8c8;
    /* Задаю подчеркивание*/
    text-decoration: none;

}
ul.topmenu > li:hover > ul.submenu {
    /* Делаю элементы блочными. */
    display: block;
}
ul.topmenu > li > a:hover {
    /* цвет текста при наведнии */
    color:  silver;

}

div.hearder > nav > ul > li{
	background:white;

}
div.hearder > nav > ul {
	background:white;
	padding-bottom:105px;
	border-radius:10px;
}

/*Container-----------------------------------------*/

div.container {
	margin:50px 60px;

}
h1 {
	font-size:50px;
	color:silver;
}
div.container > ul > li {
	display:inline-block;
	padding:15px;
}
div.container > ul  {
	display:block;
	background:white;
	border-radius:15px;
}
div.container >ul > p {
	font-size:20px;
	padding:20px;
}
/* Размер и цвет Даты , чел , проверки */
li.Data {
	font-size:25px;
	font-stretch:10px;
}
li.Name {
	font-size:20px;
	color:silver;
}


/*Footer-------------------------------*/

div.footer{
	/*прикрепляю подвал*/
	position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 160px;
}
div.footer > footer {
	background: #7a7d7e;
	display:block;
	border-radius:10px;

}
div.footer > footer > ul > li {
	display:block;
	font-size: 15px;

}
div.footer > footer > ul {
	display:inline-table;
	position:bottom;
}
