<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Add information</title>
	<link href="static/css/form_adding.css" rel="stylesheet">
    <link rel="SHORTCUT ICON" href="static/img/mtuci-logo.png" type="image/x-icon">
</head>

<body>
    <h1 class="add-title">Add Information</h1>
    <div class="container">
        <form method = "POST" action="/add">
            <div class="add-category">
                <p class="add-list-category">Выберите категорию:</p>
                <select class="add-info-category" name="category" onchange="categoryActions(this)">
                    <option value="0" selected>Не выбрано</option>
                    <option value="1">Новости</option>
                    <option value="2">Домашнее задание</option>
                </select>
            </div>

            <div class="add-date">
                <p class="add-list-date">Дата выполнения:</p>
                <input type="date" name="begin" class="add-info-date" placeholder="ДД-ММ-ГГГГ" value="" min="1997-01-01" max="2030-12-31">
            </div>

            <div class="add-text">
                <p class="add-list-text">Введите текст:</p>
                <textarea class = "add-info-text" name = "body" rows="3" cols="21"></textarea>
            </div>

            <div class="add-subject">
                <p class="add-list-subject">Предмет:</p>
                <input class="add-info-subject" value="" maxlength="64" name="title">
            </div>
            <button type = "submit" class="add-sending">Publish</button>

        </form>
    </div>
    <script type="text/javascript" src="./static/js/script.js"></script>
</body>

</html>