<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.3/html5shiv.min.js"></script>
    <title>Reset password</title>
    <meta name="keywords" content="" />
    <meta name="description" content="" />
    <link href="static/css/style.css" rel="stylesheet">
</head>

<body>

    <div class="container">

        <main class="content">
            <div class = "reset-box">
                <h1 class="reset-title">Password recovery</h1>
                <form method = "POST" action="/login">
                    <input class="reset-input" value="" maxlength="80" name="login" placeholder="Email"/>
                    <p class = "reset-info">*На вашу почту придет новый пароль)</p>
                    <button type = "submit" class="reset-send">Send</button>
                </form>
            </div>
        </main>
        <!-- .content -->

    </div>
    <!-- .container-->

   <!-- <script type="text/javascript" src="./static/js/script.js"></script> -->

</body>

</html>

