<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Reset password</title>
    <link href="static/css/forms_user.css" rel="stylesheet">
    <link rel="SHORTCUT ICON" href="static/img/mtuci-logo.png" type="image/x-icon">
</head>

<body>

    <div class="container">

        <main class="content">
            <div class = "reset-box">
                <h1 class="reset-title">Password update</h1>
                <form method = "POST" action="/update">
                    <input class="reset-input" type = "password" value="" maxlength="80" name="old_password" placeholder="Current password"/>
                    <input class="reset-input" type = "password" value="" maxlength="70" name="n_password1" placeholder="New Password"/>
                    <input class="reset-input" type = "password" value="" maxlength="70" name="n_password2" placeholder="Repeat password"/>
                    <button type = "submit" class="update-send">Update</button>
                </form>
            </div>
        </main>
        <!-- .content -->

    </div>
    <!-- .container-->

   <!-- <script type="text/javascript" src="./static/js/script.js"></script> -->

</body>

</html>

