<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>News</title>
	<link href="css/info.css" rel="stylesheet" type="text/css"/>
</head>
<body>
	<div class="hearder">
		<nav>
			<ul class="topmenu">	
				<li><img src="main.png" width="100"></li>
				<li><a href="/main.html">Main page</a></li>
				<li><a href="/tt_home.html">Timetable/Homework</a></li>
				<li><a href="/news.html">News</a></li>
				<li>
					<img src="submenu_close.png" width="100" style="vertical-align: container">
						<ul class="submenu">
							<li><a href="/addinfo.html">Add Info</a></li>
							<li><a href="/resetpassword.html">Reset password</a></li>
							<li><a href="/login.html">Exit</a></li>
							
						</ul>
				</li>
			</ul>
		</nav>
	</div>
	<div class="container">
		<h1>News</h1>
		<ul>
			<li class="Data"><b>15.04.2022</b></li>
			<li class="Name">(Иван Старосветов)</li>
			<p> Очень важная информация которая должна дойти до каждого учайшегося в МТУСИ , обязательна к ознакомлению </p>
		</ul>
	</div>
	<div class="container">
		<ul>
			<li class="Data"><b>25.04.2022</b></li>
			<li class="Name">(Елена Туркова)</li>
			<p> Не Очень важная информация которая не должна дойти до каждого учайшегося в МТУСИ , не обязательна к ознакомлению </p>
		</ul>
	</div>
	<div class="footer">
		<footer>
			<ul>
				<li><b>Наша команда:</b></li>
				<li><a href="https://vk.com/id293317419">Михаил Козей</a></li>
				<li><a href="https://vk.com/fic1ion">Елена Туркова</a></li>
				<li><a href="https://vk.com/idserilflex">Кирилл Смирнов</a></li>
				<li><a href="https://vk.com/id66652366">Семён Старшинов</a></li>
				<li><a href="https://vk.com/wwonzxc">Фёдор Адреенков</a></li>
				<li><a href="https://vk.com/vvviikkkaaa">Вербицкая Виктория</a></li>
				<li><a href="https://vk.com/0llit">Старосветов Иван</a></li>
			</ul>
			<ul>
				<li><b>Контактная Информация:</b></li>
				<br>
				<li>Email: mtuci@mtuci.ru</li>
				<li>Деканат: 8 (495) 925 10-67</li>
				<li>Куратор: https://vk.com/elza_krrr</li>
				<li>Староста: https://vk.com/0llit</li>
				<li>Адрес: г. Москва ,ул. Авиамоторная,д.8а</li>
			</ul>
			<ul>
				<li><b>Дистанционное обучение:</b></li>
				<br>
				<li><a href="https://mtuci.ru">Сайт МТУСИ</a></li>
				<li><a href="https://vk.com//club206655080">Группа</a></li>
				<li><a href="https://t.me/joinchat/yFfe6Eb5PCxLZTLy">Чат группы</a></li>
			</ul>
		</footer>
	</div>
</body>
</html>