<!DOCTYPE html>
<html lang="en">
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>News</title>
	<link href="css/info.css" rel="stylesheet" type="text/css"/>
</head>
<body>
	<div class="hearder">
		<nav>
			<ul class="topmenu">	
				<li><img src="main.png" width="100"></li>
				<li><a href="/main.html">Main page</a></li>
				<li><a href="/tt_home.html">Timetable/Homework</a></li>
				<li><a href="/news.html">News</a></li>
				<li>
					<img src="submenu_close.png" width="100" style="vertical-align: container">
						<ul class="submenu">
							<li><a href="/addinfo.html">Add Info</a></li>
							<li><a href="/resetpassword.html">Reset password</a></li>
							<li><a href="/login.html">Exit</a></li>
							
						</ul>
				</li>
			</ul>
		</nav>
	</div>
	<div class="container">
		<h1>News</h1>
		<ul>
			<li class="Data"><b>15.04.2022</b></li>
			<li class="Name">(Èâàí Ñòàðîñâåòîâ)</li>
			<p> Î÷åíü âàæíàÿ èíôîðìàöèÿ êîòîðàÿ äîëæíà äîéòè äî êàæäîãî ó÷àéøåãîñÿ â ÌÒÓÑÈ , îáÿçàòåëüíà ê îçíàêîìëåíèþ </p>
		</ul>
	</div>
	<div class="container">
		<ul>
			<li class="Data"><b>25.04.2022</b></li>
			<li class="Name">(Åëåíà Òóðêîâà)</li>
			<p> Íå Î÷åíü âàæíàÿ èíôîðìàöèÿ êîòîðàÿ íå äîëæíà äîéòè äî êàæäîãî ó÷àéøåãîñÿ â ÌÒÓÑÈ , íå îáÿçàòåëüíà ê îçíàêîìëåíèþ </p>
		</ul>
	</div>
	<div class="footer">
		<footer>
			<ul>
				<li><b>Íàøà êîìàíäà:</b></li>
				<li><a href="https://vk.com/id293317419">Ìèõàèë Êîçåé</a></li>
				<li><a href="https://vk.com/fic1ion">Åëåíà Òóðêîâà</a></li>
				<li><a href="https://vk.com/idserilflex">Êèðèëë Ñìèðíîâ</a></li>
				<li><a href="https://vk.com/id66652366">Ñåì¸í Ñòàðøèíîâ</a></li>
				<li><a href="https://vk.com/wwonzxc">Ô¸äîð Àäðååíêîâ</a></li>
				<li><a href="https://vk.com/vvviikkkaaa">Âåðáèöêàÿ Âèêòîðèÿ</a></li>
				<li><a href="https://vk.com/0llit">Ñòàðîñâåòîâ Èâàí</a></li>
			</ul>
			<ul>
				<li><b>Êîíòàêòíàÿ Èíôîðìàöèÿ:</b></li>
				<br>
				<li>Email: mtuci@mtuci.ru</li>
				<li>Äåêàíàò: 8 (495) 925 10-67</li>
				<li>Êóðàòîð: https://vk.com/elza_krrr</li>
				<li>Ñòàðîñòà: https://vk.com/0llit</li>
				<li>Àäðåñ: ã. Ìîñêâà ,óë. Àâèàìîòîðíàÿ,ä.8à</li>
			</ul>
			<ul>
				<li><b>Äèñòàíöèîííîå îáó÷åíèå:</b></li>
				<br>
				<li><a href="https://mtuci.ru">Ñàéò ÌÒÓÑÈ</a></li>
				<li><a href="https://vk.com//club206655080">Ãðóïïà</a></li>
				<li><a href="https://t.me/joinchat/yFfe6Eb5PCxLZTLy">×àò ãðóïïû</a></li>
			</ul>
		</footer>
	</div>
</body>
</html>
